{% extends "base.html" %}
{% load static %}
{% load main_tags %}
{% load receipt_tags %}

{% block title %}{{ receipt.title }} - Pie&Cake{% endblock title %}

{% block content %}
    <div id="breadcrumbs">
		<div class="wrp">
			<ul class="breadcrumbs">
				<li>
					<a href="{% url 'index' %}" class="light">Главная</a>
				</li>
				<li>
					<a href="{% url 'receipts' %}" class="light">Рецепты</a>
				</li>
                <li>
                    <span class="light">{{ receipt.title }}</span>
                </li>
			</ul>
		</div>
	</div>

    <div id="receipts" class="detail-receipt-block" style="padding-bottom: 260px;">
      {% csrf_token %}
      <div class="wrp">
          <p style="margin-bottom: 30px;text-align: center;" class="h2">{{ receipt.title }} от {{ receipt.author.full_name }}</p>
          <div class="receipt-details">
              <img class="receipt-cover" src="{{ receipt.cover.url }}" alt="{{ receipt.title }}">
              <p>{{ receipt.description }}</p>
              {% if request.user == receipt.author %}
                <a href="{% url 'delete_receipt' id=receipt.id %}" style="background: brown;" class="blue-button br-10">Удалить</a>
              {% else %}
                {% if request.user.is_authenticated %}
                    {% is_like request=request receipt_id=receipt.id as like_user %}
                    {% if like_user %}
                        <a data-id="{{ receipt.id }}" class="blue-button like-button br-10" {% if request.user.is_authenticated %} id="like-receipt" {% endif %}><img style="width: 25px; height: 25px; margin-right: 10px;" src="{% static 'img/like-active.png' %}" alt="like active">Like</a>
                    {% else %}
                        <a  data-id="{{ receipt.id }}" class="blue-button like-button br-10" {% if request.user.is_authenticated %} id="like-receipt" {% endif %}><img style="width: 25px; height: 25px; margin-right: 10px;" src="{% static 'img/like.png' %}" alt="like">Like</a>
                    {% endif %}
                {% endif %}
              {% endif %}
          </div>
      </div>
    </div>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
<script>
    const likeReceipt = (receipt_id) => (
            $.ajax({
                type: "POST",
                url: "{% url 'update_like' %}",
                data: {
                    'receipt_id': receipt_id,
                    'csrfmiddlewaretoken': document.querySelector('input[name="csrfmiddlewaretoken"]').value
                },
                success: (res) => {
                    document.querySelector(`a[data-id="${receipt_id}"]`).querySelector('img').src = "{% static 'img/like-active.png' %}";
                },
                error: (err) => {
                    console.log(err);
                }
            })
        );


    var likeButtons = document.querySelectorAll("#like-receipt");

    for (let button of likeButtons) {
        button.onclick = function () {
            likeReceipt(button.getAttribute("data-id"));
        }
    }
</script>
{% endblock content %}