{% extends "base.html" %}
{% load static %}
{% load main_tags %}

{% block title %}Главная - Pie&Cake{% endblock title %}

{% block content %}
<section id="start-block">
		<div class="wrp">
			<div class="start-block">
				<h2 class="h2">
					Добро пожаловать в наш кондитерский магазин “Pie&Cake”<br> — место, где сладкие мечты становятся реальностью!<br> Мы рады предложить вам широкий ассортимент кондитерских изделий, которые порадуют вас и ваших близких.<br> В нашем магазине вы найдете:

				</h2>
				<ul>
					<li>Восхитительное печенье: от классических до оригинальных вкусов, <br>каждое печенье изготовлено с любовью и заботой о качестве.</li>
					<li>Изысканные пирожные: нежные и легкие, они порадуют вас разнообразием<br> начинок и оригинальным оформлением.</li>
					<li>Торты на любой вкус: классические и тематические, наши торты подойдут для любого праздника,<br> будь то день рождения, свадьба или просто уютный вечер с родными.</li>
                    <li>Ароматные круассаны домашнего приготовления: хрустящие снаружи, нежные внутри,<br> с классической масляной начинкой и разнообразными сладкими сюрпризами.</li>
				</ul>
				<a data-fancybox href="#modal-call" class="blue-dark-button br-10">Начать покупки</a>
				<img src="{% static 'img/opt-banner-img.png' %}" alt="opt-banner">
			</div>
		</div>
	</section>

	<section id="create-cake">
		<div class="wrp">
			<div class="row">
                <div class="col-md-5">
                    <img src="{% static 'img/tort3.jpg' %}" alt="Cake 2" style="width: 90%;border-radius: 16px;">
                </div>
                <div class="col-md-7">
                    <h2>Соберите торт своей мечты с нашим Конструктором!</h2>
                    <p>
                        Представьте, что вы можете не просто купить торт, а создать его с нуля — именно таким, как вы мечтаете!<br> Наш уникальный <span style="font-weight: bold;">Конструктор тортов</span> превращает ваши фантазии в реальность: выбирайте пышные бисквиты, воздушные муссы, сочные ягоды и хрустящие прослойки, комбинируйте вкусы и украшения, а мы воплотим вашу идею в идеальный десерт.<br> Хотите шоколадный торт с малиной и золотым декором? Или легкий ванильный с карамелью и свежими фруктами?<br> Всё возможно! Это не просто покупка — это творчество, где каждый ингредиент добавляет историю к вашему сладкому шедевру.
                    </p>
                </div>
            </div>
            <div class="row" style="margin-top: 60px;">
                <div class="col-md-7">
                    <h2>Хотите идеальный торт — именно такой, как вы любите?</h2>
                    <p>
                        - Выбирайте основу — бисквит, шоколад, ваниль или даже безглютеновый вариант<br>
                        - Добавляйте начинку — от нежного заварного крема до сочной клубники<br>
                        - Украшайте по своему вкусу — макаруны, ягоды, шоколадные узоры<br>
                        - И вуаля! Ваш уникальный торт уже едет к вам!<br>
                        <br><span style="font-weight: bold;">Создайте торт, который запомнят все ваши гости!</span>
                    </p>
                </div>
                <div class="col-md-5">
                    <img src="{% static 'img/tort4.jpg' %}" alt="Cake 1" style="border-radius: 16px; ">
                </div>
            </div>
		</div>
	</section>

    <section id="create-cake">
		<div class="wrp">
			<div class="row">
                <div class="col-md-5">
                    <img src="{% static 'img/receipt.jpg' %}" alt="Cake 2" style="width: 90%;border-radius: 16px; height: 100%; object-fit: cover;">
                </div>
                <div class="col-md-7">
                    <h2>Страница рецептов — вдохновляйтесь и делитесь вкусным!</h2>
                    <p>
                        А для тех, кто любит творить своими руками, у нас есть страница<br> <span style="font-weight: bold;">Рецептов</span> — уютное пространство, где собраны лучшие идеи от таких же ценителей домашней выпечки.<br> Здесь можно найти вдохновение для воскресного пирога, поделиться своим фирменным рецептом медовика или узнать секреты идеального безе.<br> Представьте, как приятно будет увидеть, что ваш рецепт сдобных булочек с корицей стал любимым у сотен людей!<br> Готовьте, экспериментируйте и делитесь вкусным — ведь кулинария это не просто процесс, а способ дарить радость.
<br><span style="font-weight: bold;">Любите печь? Или только мечтаете научиться?</span><br>
<br>-Выкладывайте свои рецепты — пусть мир узнает ваш фирменный яблочный пирог!
<br>-Ищите вдохновение — десятки проверенных рецептов от других сладкоежек<br>
Поделитесь рецептами любимых пирогов или узнайте секреты выпечки от других кулинаров!
                        Погрузитесь в мир, где десерты становятся искусством, а каждый кусочек — поводом для улыбки. Создавайте, пробуйте, вдохновляйтесь — и пусть ваша жизнь будет сладкой”
                    </p>
                </div>
            </div>
		</div>
	</section>


{% endblock content %}