{% extends "base.html" %}
{% load static %}
{% load main_tags %}

{% block title %}Оплата и доставка - Cake&Pie{% endblock title %}

{% block content %}
    	<section id="breadcrumbs">
		<div class="wrp">
			<ul class="breadcrumbs">
				<li>
					<a href="{% url 'index' %}" class="light">Главная</a>
				</li>
				<li>
					<span class="light">Оплата и доставка</span>
				</li>
			</ul>
		</div>
	</section>

	<section id="contacts-block">
		<div class="wrp">
			<div class="delivery-right-block" style="width: 100%;">
                <h1 class="h2" style="margin-bottom: 30px;">Оплата и доставка</h1>
                <p>Дорогие сладкоежки! Мы создали максимально простую и прозрачную систему оформления заказов, чтобы вы могли наслаждаться любимыми десертами без лишних хлопот. Для вашего удобства у нас предусмотрено два варианта заказа: готовые изделия из каталога и уникальные торты из Конструктора.</p>
			    <p>При заказе готовых десертов из каталога вам достаточно добавить понравившиеся позиции в корзину и выбрать удобный способ получения: курьерская доставка или самовывоз из пункта СДЭК. Вы сможете выбрать наиболее удобный вам пункт выдачи в меню. Также при заказе вам нужно будет выбрать предпочтительный вариант оплаты: наличными при получении или картой при получении.  После оформления заказа вы сразу получите его номер - этот номер нужно будет назвать при получении вашего сладкого заказа. Статус заказа всегда можно проверить в личном кабинете в разделе "История заказов". При самовывозе: <span style="font-weight: bold;">возьмите номер заказа и паспорт для получения</span>. При доставке курьером: <span style="font-weight: bold">он позвонит за 1 час</span> до приезда.</p>
                <p>Для тортов, созданных в нашем Конструкторе, процесс немного отличается. После того как вы соберете свой идеальный торт и оставите контактные данные, с вами свяжется наш персональный менеджер в течение 30 минут. Он уточнит все детали вашего заказа, согласует время и способ доставки, а также расскажет о вариантах оплаты. Как только все нюансы будут согласованы, вы получите номер заказа для отслеживания его статуса в "Истории заказов".</p>
                <p>Мы предлагаем два удобных способа доставки. Курьерская доставка по городу стоит 300 рублей. Наш курьер обязательно предупредит вас звонком за час до приезда. Если вам удобнее забрать заказ самостоятельно, вы можете выбрать любой пункт выдачи СДЭК из предложенных - просто укажите его при оформлении заказа. Оплата возможна как наличными, так и банковской картой при получении - мы привозим с собой мобильный терминал для вашего удобства.</p>
                <p>Каждый заказ для нас особенный, поэтому мы тщательно контролируем все этапы его выполнения. В личном кабинете вы всегда сможете увидеть актуальный статус вашего заказа. Для кастомных тортов мы дополнительно пришлем вам фото готового изделия перед отправкой, чтобы вы могли убедиться, что все соответствует вашим пожеланиям.</p>
            </div>
		</div>
	</section>
{% endblock content %}