{% extends "base.html" %}
{% load static %}
{% load main_tags %}
{% load receipt_tags %}

{% block title %}Рецепты - Pie&Cake{% endblock title %}

{% block content %}
    <div id="breadcrumbs" style="    padding-bottom: 40px;">
		<div class="wrp">
			<ul class="breadcrumbs">
				<li>
					<a href="{% url 'index' %}" class="light">Главная</a>
				</li>
				<li>
					<span class="light">Рецепты</span>
				</li>
			</ul>
		</div>
	</div>

    <div id="receipts">
        {% csrf_token %}
        <div class="wrp">
            <p style="margin-bottom: 10px;" class="h2">Рецепты</p>
            {% if request.user.is_authenticated %}
                <div style="display: flex;">
                    <a href="{% url 'create_receipt' %}" class="blue-button br-10 add-receipt-button">Добавить новый рецепт</a>
                    <a href="/receipts/?receipts=my" class="blue-button br-10 add-receipt-button" style="margin-left: 15px;">Показать мои рецепты</a>
                </div>
            {% endif %}
            <form action="/receipts/" method="get" class="header-search" style="width:100%;    margin-bottom: 40px;">
                <input type="search" name="q" placeholder="Поиск рецептов" class="input br-10">
                <input type="submit" value="" class="btn">
            </form>
            <div class="receipts-list">
                {% for receipt in receipts %}
                    <div class="product-item br-15" style="width: 315px;">
                        <div class="product-item-image" style="width: 290px">
                            <a href="{% url 'detail_receipt' slug=receipt.slug %}" class="link"></a>
                                <img style="    width: 100%;
    height: 100%;
    object-fit: cover;" src="{% if receipt.cover %}{{ receipt.cover.url }}{% endif %}" alt="{{ receipt.title }}">
                            </div>
                            <div class="product-item-body">
                                <a style="font-size: 18px;" href="{% url 'detail_receipt' slug=receipt.slug %}" class="product-title">{{ receipt.title }}</a>
                                <div class="product-bottom" style="justify-content: space-between;">
                                    <p class="bottom-price">Автор: {{ receipt.author.full_name }}</p>
                                    <a data-id="{{ receipt.id }}"  class="like-receipt" {% if request.user.is_authenticated %} id="like-receipt" {% endif %}>
                                        <span>{{ receipt.likes.count }}</span>
                                        {% is_like request=request receipt_id=receipt.id as like_user %}
                                        {% if like_user %}
                                            <img src="{% static 'img/like-active.png' %}" alt="like active">
                                        {% else %}
                                            <img src="{% static 'img/like.png' %}" alt="like">
                                        {% endif %}
                                    </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
<script>
    const likeReceipt = (receipt_id) => (
            $.ajax({
                type: "POST",
                url: "{% url 'update_like' %}",
                data: {
                    'receipt_id': receipt_id,
                    'csrfmiddlewaretoken': document.querySelector('input[name="csrfmiddlewaretoken"]').value
                },
                success: (res) => {
	    			document.querySelector(`a[data-id="${receipt_id}"]`).querySelector('span').textContent = res.likes_count;
                    document.querySelector(`a[data-id="${receipt_id}"]`).querySelector('img').src = "{% static 'img/like-active.png' %}";

                },
                error: (err) => {
                    console.log(err);
                }
            })
        );


    var likeButtons = document.querySelectorAll("#like-receipt");

    for (let button of likeButtons) {
        button.onclick = function () {
            likeReceipt(button.getAttribute("data-id"));
        }
    }
</script>
{% endblock content %}