* {
	box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

:focus {
    outline: 0;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
input[type=search] {
    box-sizing: content-box;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}

[hidden] {
    display: none;
}

html {
    font-size: 100%;
}

a:active,
a:hover {
    outline: 0;
}


figure {
    margin: 0;
}


form {
    margin: 0;
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

legend {
    border: 0;
    padding: 0;
    white-space: normal;
    *margin-left: -7px;
}


button,
input,
select,
textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
    *vertical-align: middle;
}

button,
input {
    line-height: normal;
}


button,
select {
    text-transform: none;
}


button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    cursor: pointer;
    overflow: visible;
}


button[disabled],
html input[disabled] {
    cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
    *height: 13px;
    *width: 13px;
}

input[type="search"] {
    box-sizing: content-box;
}


textarea {
    overflow: auto;
    vertical-align: top;
}

html,
button,
input,
select,
textarea {
    color: #222;
}


img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

body {
	padding-right: 0 !important;
	background: #F9F9F9;
	position: relative;
}

p,a,li,div,button,input,textarea, h1, h2, h3, h4, h5 {
	font-family: "Manrope", sans-serif;
	color: #1A1A1A;
	font-size: 15px;
	font-weight: 400;
	line-height: 160%;
}
a, a:hover, a:active, a:focus, textarea,
button, input, button:hover, button:active, button:focus,
input:focus, input:active {
	text-decoration: none !important;
	outline: none !important;
}
strong {
	font-weight: 600;
}
i {
	font-style: italic;
}
input.button,
button {
	border: none;
}
a {
	cursor: pointer;
}



.light {
	color: #707070;
}
.br-10 {
	border-radius: 10px;
}
.br-15 {
	border-radius: 15px;
}
.blue-button {
	background: #00abab;
	padding: 11px 16px;
	color: #fff;
	font-size: 14px;
	font-weight: 500;
	line-height: 135%;
	letter-spacing: 0.28px;
	text-transform: uppercase;
	border: none;
}

.eye-pass {
   position: absolute;
   z-index: 1000;
   cursor: pointer;
   right: 20px;
   top: 37px;
   width: 20px;
   height: 20px;
}


.blue-dark-button {
	background: #00abab;
	padding: 11px 16px;
	color: #fff;
	font-size: 14px;
	font-weight: 600;
	line-height: 135%;
	letter-spacing: 0.28px;
	text-transform: uppercase;
	border: none;
}

.h2 {
	font-family: "Manrope", serif;
	font-size: 34px;
	font-weight: 400;
	line-height: 95%;
	margin-bottom: 20px;
}

.input {
	border-radius: 5px;
	border: 1px solid #707070;
	padding: 9px 20px;
	background: transparent;
	line-height: 140%;
	resize: none;
	width: 100%;
}

.input::placeholder {
	color: #707070;
}

.wrp {
	width: 1260px;
	margin: 0 auto;
}

.header-top-banner {
	padding: 15px;
	background: #DCFAB8;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}
.header-top-banner p {
	font-size: 14px;
	color: #00abab;
	font-weight: 700;
	text-transform: uppercase;
}
.header-top-banner .close {
	position: absolute;
	right: 10px;
	top: 12px;
}
#header {
	position: relative;
	background: #fff;
	border-bottom: 1px solid #EEE;
	margin-bottom: 50px;
}
.header-top {
	position: relative;
}
.header-top:before {
	content: "";
	background: #F9F9F9;
	position: absolute;
	top: 0;
	right: calc(100% - ((100% - 1178px) / 2) - 100vw + (100vw - 1160px)/2);
	width: 100vw;
	height: 100%;
}
.header-top > * {
	position: relative;
	z-index: 2;
}
.header-top-menu {
	display: flex;
}
.header-top-menu li {
	margin-right: 24px;
}
.header-top-menu li a {
	display: block;
	padding: 12px 0 14px 0;
	position: relative;
}
.header-top-menu li a:hover {
	color: #1A1A1A;
}
.header-top-menu li a:hover:before {
	content: "";
	width: 100%;
	height: 2px;
	background: #1A1A1A;
	position: absolute;
	bottom: 6px;
	left: 0;
}
.header-mobile-buttons {
	display: none;
}
.header-center {
	display: flex;
	align-items: center;
	padding: 15px 0;
}
.header-logo {
	margin-right: 42px;
}
.header-logo .logo-mini {
	display: none;
}
.header-catalog-button {
	display: flex;
	align-items: center;
	margin-right: 20px;
}


.mobile-panel {
	display: none;
}

.header-search {
	width: 300px;
	position: relative;
	margin-right: 15px;
}
.header-search .input {
	width: 100%;
	border: 1px solid #00abab;
	font-size: 12px;
	line-height: 140%;
	padding: 11px 20px 11px 40px;
	box-sizing: border-box;
}
.header-search .input::placeholder {
	color: #707070;
}
.header-search .btn {
	width: 24px;
	height: 24px;
	background: url("../img/search.svg") no-repeat center center / 100%;
	position: absolute;
	top: 8px;
	left: 8px;
	border: none;
}


.header-white-button {
    margin-left: 10px;
	border: 1px solid #707070;
	padding: 10px 16px;
	display: flex;
	align-items: center;
	font-size: 14px;
	font-weight: 500;
	line-height: 135%;
	letter-spacing: 0.28px;
	text-transform: uppercase;
}

.header-center-panel {
	display: flex;
	align-items: center;
	margin-left: auto;
}
.header-center-panel a {
	width: 24px;
	height: 24px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.header-center-panel a:not(:first-child) {
	margin-left: 16px;
}

#footer {
	background: #00abab;
	padding-top: 60px;
}

#start-block {
	padding-bottom: 80px;
}
.start-block {
	border-radius: 20px;
	background-color: #a6eded;
	padding: 68px 60px;
	position: relative;
	overflow: hidden;
}
.start-block .h2 {
	margin-bottom: 60px;
	text-align: center;
}
.start-block ul li {
	font-size: 18px;
	position: relative;
	padding-left: 17px;
	line-height: 120%;
}
.start-block ul li:not(:last-child) {
	margin-bottom: 14px;
}
.start-block ul li:before {
	content: "";
	background: #2587E9;
	width: 7px;
	height: 7px;
	position: absolute;
	top: 7px;
	border-radius: 50%;
	left: 0;
}
.start-block .blue-dark-button {
	display: inline-block;
	margin-top: 60px;
}
.start-block img {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 450px;
}

#create-cake img {
    width: 80%;
}

#create-cake h2 {
    font-size: 26px;
    line-height: 40px;
    font-weight: bold;

}

#create-cake p {
    margin-top: 15px;
    font-size: 18px;
}

#create-cake {
	padding-bottom: 100px;
}

.header-login {
    background: #00abab;
    padding: 19px 0;
    text-align: center;
}

.main-login {
    width: 500px;
    margin: 32px auto 122px auto;
}

.auth-main .h2 {
    text-align: center;
    margin-bottom: 30px;
}

.input-label {
    display: block;
    margin-bottom: 20px;
}

.input-label p {
    font-weight: 500;
    margin-bottom: 5px;
}

.input-label .input {
    width: 100%;
}

.input {
    border-radius: 6px;
    border: 1px solid #707070;
    padding: 10px 20px;
    background: transparent;
    line-height: 120%;
    resize: none;
    width: 100%;
}

.login-bottom {
    margin-top: 30px;
    text-align: center;
}

.login-bottom .blue-button {
    margin-bottom: 10px;
}

.login-bottom p {
    color: #707070;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 18px;
}

.login-bottom p a {
    text-decoration: underline !important;
    color: #707070;
    font-size: 15px;
    font-weight: 500;
    margin-left: 10px;
}

#breadcrumbs {
    padding: 35px 0 55px 0;
    padding-top: 0;
}

.breadcrumbs {
    display: flex;
    flex-flow: wrap;
}

.breadcrumbs li {
    margin-right: 8px;
}

.breadcrumbs li a, .breadcrumbs li span {
    font-size: 12px;
}

.breadcrumbs li:after {
    content: "/";
    color: #707070;
    font-size: 12px;
    font-weight: 400;
    line-height: 120%;
    margin-left: 8px;
}

#cabinet {
    padding-bottom: 346px;
}

#cabinet .wrp {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.cabinet-side {
    width: 270px;
}

.cabinet-side li {
    margin-bottom: 12px;
}

.cabinet-side a.active {
    border-bottom: 1px solid #1A1A1A;
}
.cabinet-side a {
    font-size: 18px;
    font-weight: 500;
    line-height: 130%;
}

.cabinet-main {
    width: calc(100% - 270px - 32px);
    background: #fff;
    border: 1px solid #EEE;
}

.product-item {
    border: 1px solid #EEE;
    background: #FFF;
    padding: 8px 12px 20px 12px;
    user-select: none;
}

.product-item-image {
    width: 100%;
    height: 275px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.product-item-image img {
    max-width: 100%;
    max-height: 100%;
}

.product-item-image .link {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.product-item-body {
    margin-top: 10px;
}

.product-item-body .product-title {
    display: block;
    font-weight: 500;
    height: 52px;
    margin-bottom: 8px;
}

.product-item-body .product-bottom {
    position: relative;
    height: 40px;
    display: flex;
    align-items: center;
}

.product-item-body .bottom-price {
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;
    display: flex;
    align-items: center;
    width: max-content;
}

.product-item-body .bottom-cart {
    width: 41px;
    height: 41px;
    background: #00abab url(../img/product-cart-icon.svg) no-repeat center center;
    position: absolute;
    right: 0;
    cursor: pointer;
}

#catalog-block {
    padding-bottom: 130px;
}

#catalog-block .wrp {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.catalog-side {
    width: 270px;
    position: sticky;
    top: 22px;
}

.catalog-side-menu > li {
    margin-bottom: 20px;
}

.catalog-side-menu > li > a {
    padding-right: 25px;
    position: relative;
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 125%;
}

.catalog-block {
    width: calc(100% - 270px - 32px);
}

.catalog-order {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 20px;
    position: relative;
    margin-left: 10px;
}

.selector {
    position: relative;
    margin-left: 10px;
}


.selector-button {
    padding: 5px 8px;
    border: 1px solid #CCC;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.selector-button {
    padding: 5px 8px 5px 34px;
    background: url(../img/sort-icon.svg) no-repeat center left 8px;
}
}

.selector-button span {
    font-size: 12px;
    color: #707070;
}

.selector-button img {
    transition: .4s;
    margin-left: 10px;
}

.selector-list {
    width: 100%;
    border: 1px solid #CCC;
    border-radius: 5px;
    background: rgb(255, 255, 255);
    padding: 0;
    position: absolute;
    z-index: 6;
    margin-top: 5px;
    height: 0px;
    overflow: hidden;
    opacity: 0;
    transition: .4s;
}

.selector-list label {
    display: block;
}

.selector-list input {
    display: none;
}

.selector-list input:checked + span {
    background: #00abab;
    color: #fff;
}
.selector-list label > span {
    padding: 8px 8px;
    display: block;
    cursor: pointer;
    transition: .4s;
    font-size: 12px;
    line-height: 120%;
}

.selector-button.active + .selector-list {
    height: auto;
    overflow: hidden;
    opacity: 1;
    padding: 0;
}

.catalog-list {
    position: relative;
}

.catalog-list-container {
    margin-bottom: 18px;
}

#catalog-listing {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
    display: flex;
    flex-flow: wrap;
    gap: 20px;
    margin-bottom: 18px;
}

.catalog-product-item {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: transform;
    width: 305px;
}

#breadcrumbs.grey-back {
    background: #F4F4F4;
}

#product-detail {
    background: #F4F4F4;
    padding-bottom: 70px;
}

#product-detail .wrp {
    display: flex;
    justify-content: space-between;
}

.product-photo {
    width: 570px;
    height: 570px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    overflow: hidden;
}

.desc-text {
    margin-top: 30px;
}

.product-photo img {
    width: 100%;
}

.product-desc {
    width: 660px;

}

.product-desc-card {
    padding: 20px 20px 40px 20px;
    background: #fff;
    width: 660px;
}

.product-desc-card .h2 {
    margin-bottom: 40px;
    font-size: 37px;
    line-height: 120%;
}

.product-desc-card .info {
    display: flex;
    align-items: center;
    margin-bottom: 42px;
}

.product-desc-card .info-price {
    display: flex;
    align-items: center;
    font-size: 22px;
    font-weight: bold;
    margin-right: 32px;
}

.product-desc-card .desc-text .head {
	font-size: 24px;
	line-height: 120%;
	font-weight: 500;
	margin-bottom: 15px;
}
.product-desc-card .desc-text .text p {
	color: #707070;
	overflow: hidden;
	font-size: 18px;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.no-margin-b {
    margin-bottom: 0!important;
}

#contacts-block {
    padding-bottom: 130px;
}

#contacts-block .wrp {
    display: flex;
    justify-content: space-between;
}

.contacts-left-block {
    width: 460px;
}

.contacts-left-block .h2 {
    margin-bottom: 42px;
}

.contacts-left-block .block {
    margin-bottom: 22px;
}

.contacts-left-block .block-h {
    font-weight: 500;
}

.contacts-left-block p:not(.block-h), .contacts-left-block a {
    font-size: 19px;
    font-weight: 500;
}

#contacts-block .delivery-right-block {
    width: 850px;
}

.delivery-right-block p {
    font-size: 17px;
    margin-bottom: 20px;
}

.list-cabinet a {
    margin-bottom: 12px;
    font-size: 18px;
    font-weight: 500;
    line-height: 130%;
}

.list-cabinet a.active {
    border-bottom: 1px solid #1A1A1A;
}

.list-cabinet div {
    margin-bottom: 12px;
}

#receipts {
    padding-bottom: 100px;
}

.receipts-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.like-receipt {
    display: flex;
    font-weight: bold;
    align-items: center;
}

.like-receipt img {
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

.receipt-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
        border: 1px solid #00abab;
    border-radius: 16px;
    padding: 30px;
}

.receipt-cover {
    width: 700px;
    height: 100%;
    border-radius: 16px;
}

.receipt-details p {
    font-size: 16px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.like-button {
    background: inherit;
    color: black;
    border: 1px solid #00abab;
}

.detail-receipt-block .wrp {
    width: 900px
}