<!DOCTYPE html>
{% load static %}
{% load main_tags %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>
		{% block title %}
		{% endblock %}
	</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Forum&family=Manrope:wght@200..800&display=swap" rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
	<link rel="stylesheet" href='{% static "css/styles.css"%}'>
	<link rel="stylesheet" href='{% static "css/swiper-bundle.min.css"%}'>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css">
	<link rel="stylesheet" href='{% static "css/media.css"%}'>

</head>
<body>

	<header id="header" class="fix {% block no-header %}{% endblock no-header %}">
		<div class="wrp">
			<div class="header-top">
				<div class="header-mobile-buttons">
					<a href="{% url 'catalog' %}" class="blue-button br-10 header-catalog-button">Каталог
					</a>
				</div>
				<ul class="header-top-menu">
					<li>
						<a href="{% url 'index' %}" class="light active">О магазине</a>
					</li>
					<li>
						<a href="{% url 'contacts' %}" class="light">Контакты</a>
					</li>
					<li>
						<a href="{% url 'delivery' %}" class="light">Оплата и доставка</a>
					</li>
				</ul>
			</div>
			<div class="header-center">
				<a href="{% url 'index' %}" class="header-logo">
					<img src='{% static "img/logo-cake.svg"%}' alt="logo" style="width: 230px">
					<img src='{% static "img/logo-mini.svg"%}' class="logo-mini" alt="logo-mini">
				</a>
				<a href="{% url 'catalog' %}" class="blue-button br-10 header-catalog-button">
					Каталог
				</a>
				<form action="{% url 'catalog' %}" method="get" class="header-search">
					<input type="search" name="q"  placeholder="Поиск товаров" class="input br-10">
					<input type="submit" value="" class="btn">
				</form>
				<a href="#" class="header-white-button br-10 light">
					Конструктор тортов
				</a>
				<a href="{% url 'receipts' %}" class="header-white-button br-10 light">
					Рецепты
				</a>
				<div class="header-center-panel">
					<a href="{% if request.user.is_authenticated %}{% url 'profile' %}{% else %}{% url 'login' %}{% endif %}">
						<img src='{% static "img/lk-icon.svg"%}' alt="lk-icon">
					</a>
					<a href="#" style="position: relative;">
						<img src='{% static "img/cart-icon.svg"%}' alt="cart">
						<div class="count-header">
							0
						</div>
					</a>
				</div>
				<div class="header-menu-toggle" style="display: none;">
					<div class="header-menu__btn">
						<div>
							<span></span>
						</div>
					</div>
				</div>
			</div>

		</div>
	</header>

	{% block content%}
	{% endblock content%}

	<footer id="footer">
		<div class="wrp">
		</div>
	</footer>

	<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
	<script src='{% static "js/main.js"%}'></script>

</body>
</html>
