{% extends "base.html" %}
{% load static %}
{% load main_tags %}
{% block title %}Cake&Pie - Личный кабинет{% endblock title %}

{% block content %}
	<section id="breadcrumbs">
		<div class="wrp">
			<ul class="breadcrumbs">
				<li>
					<a href="{% url 'index' %}" class="light">Главная</a>
				</li>
				<li>
					<a href="{% url 'profile' %}" class="light">Личный кабинет</a>
				</li>
			</ul>
		</div>
	</section>

	<section id="cabinet">
		<div class="wrp">
			<div class="cabinet-side">
				<p class="h2">Личный кабинет</p>
				<div class="list-cabinet">
					<div>
						<a href="{% url 'profile' %}">Личный кабинет</a>
					</div>
					<div>
						<a href="{% url 'orders' %}" class="active">История заказов</a>
					</div>
					<div>
						<a href="{% url 'logout' %}">Выход</a>
					</div>
				</div>
			</div>
			<div class="cabinet-main" style="background: inherit; border: none;">
				<form method="post" enctype="multipart/form-data">
					<div style="display: flex; flex-direction: column">
						{% csrf_token %}
						<div class="input-label">
							<p>Имя и Фамилия</p>
							<input type="text" class="input" value="{{ request.user.full_name }}" name="full_name">
						</div>
						<div class="input-label">
							<p>Номер телефона</p>
							<input type="text" class="input user_phone" value="{{ request.user.phone }}" name="phone" placeholder="+7 ------ ------ ---- ----">
						</div>
						<div class="input-label">
							<p>Электронная почта</p>
							<input type="email" class="input" name="email" value="{{ request.user.email }}" placeholder="email">
						</div>
						<div class="login-bottom">
							<input type="submit" class="blue-button br-10" value="сохранить">
						</div>
					</div>
				</form>
			</div>
		</div>
	</section>

{% endblock content %}
