{% extends "base.html" %}
{% load static %}
{% load main_tags %}
{% block title %}Pie&Cake - Мои заказы{% endblock title %}

{% block content %}
<section id="breadcrumbs">
		<div class="wrp">
			<ul class="breadcrumbs">
				<li>
					<a href="{% url 'index' %}" class="light">Главная</a>
				</li>
				<li>
					<a href="{% url 'profile' %}" class="light">Профиль</a>
				</li>
				<li>
					<span class="light">Мои заказы</span>
				</li>
			</ul>
		</div>
	</section>

	<section id="cabinet">
		<div class="wrp">
			<div class="cabinet-side">
				<p class="h2">Личные данные</p>
				<div class="list-cabinet">
					<div>
						<a href="{% url 'profile' %}">Личный кабинет</a>
					</div>
					<div>
						<a href="{% url 'orders' %}" class="active">История заказов</a>
					</div>
					<div>
						<a href="{% url 'logout' %}">Выход</a>
					</div>
				</div>
			</div>
			<div class="cabinet-main" style="{% if not request.user.orders.all and not request.user.cakes.all %}    background: inherit;
    border: none;{% endif %}">
				{% if request.user.cakes.all %}
				{% for cake in request.user.cakes.all %}
					<div class="orders-item in-progress">
						<div class="orders-item-button active">
							<img class="icon" src="{% static 'img/order-item-icon4.svg' %}" alt="order-icon">
							<p class="name">
								Заказ на торт №{{ cake.id }}
								<span class="light">{{ cake.date_order.date }}</span>
							</p>
							<p class="price">{{ cake.amount }}р</p>
						</div>
						<div class="orders-item-info">
							<div class="lk-order-info-list">
                    	        {% for floor in cake.floors.all %}
									<p style="margin-left: 20px;">Ярус {{ floor.floor }}</p>
									{% for ing in floor.ingredients.all %}
										<div class="lk-order-info-list-item">
											<div class="img">
												{% if ing.cover %}<img src="{{ ing.cover.url }}" alt="ing">{% endif %}
											</div>
											<p class="name">
												{{ ing.title }}
											</p>
											<p class="price" style="margin-left: 30px;">
												{{ ing.price }} ₽
											</p>
										</div>
									{% endfor %}
                    	        {% endfor %}
							</div>
							<div class="lk-order-info-bottom">
								<div class="cart-right-info">
									<p>
										<span>Ингредиенты к торту:</span>
										<span>{{ cake.amount }} ₽</span>
									</p>
										<p class="light">
											<span>ДОСТАВКА (Курьер):</span>
											<span>0 ₽</span>
										</p>
										<p class="delivery-adress">
										    {{ cake.address }}<br>
                    	                    {{ cake.date_delivery }}. Время: {{ cake.time_delivery }}
									    </p>
								</div>
							</div>
						</div>
					</div>
				{% endfor %}
				{% endif %}
				{% if request.user.orders.all or request.user.cakes.all %}
				{% for order in request.user.orders.all %}
					<div class="orders-item in-progress">
					<div class="orders-item-button active">
						<img class="icon" src="{% static 'img/order-item-icon4.svg' %}" alt="order-icon">
						<p class="name">
							Заказ №{{ order.id }} <i>–</i> {{ order.status }}
							<span class="light">{{ order.date_order.date }}</span>
						</p>
						<p class="price">{{ order.amount }}р</p>
					</div>
					<div class="orders-item-info">
						<div class="lk-order-info-list">
                            {% for cart_product in order.products.all %}
							<div class="lk-order-info-list-item">
								<div class="img">
									<img src="{% if cart_product.product.image %}{{ cart_product.product.image.url }}{% endif %}" alt="product">
								</div>
								<p class="name">
									{{ cart_product.product.title }}
								</p>
								<p class="value">
									{{ cart_product.quantity }} шт
								</p>
								<p class="price">
									{{ cart_product.total_price }} ₽
								</p>
							</div>
                            {% endfor %}
						</div>
						<div class="lk-order-info-bottom">
							<div class="cart-right-info">
								<p>
									<span>ТОВАРЫ ({{ order.quantity_all }}):</span>
									<span>{{ order.total_price }} ₽</span>
								</p>
                                {% if order.delivery.pvz %}
									<p class="light">
										<span>ДОСТАВКА (Пункт выдачи СДЭК):</span>
										<span>0 ₽</span>
									</p>
								    <p class="delivery-adress">
                                        {{ order.delivery.pvz }}<br>
                                        {{ order.delivery.date_delivery }}
                                    </p>
                                {% else %}
									<p class="light">
										<span>ДОСТАВКА (Курьер):</span>
										<span>0 ₽</span>
									</p>
									<p class="delivery-adress">
									    {{ order.delivery.address }}<br>
                                        {{ order.delivery.date_delivery }}
								    </p>
                                {% endif %}
								<p>
									<span>ИТОГО:</span>
									<span>{{ order.amount }} ₽</span>
								</p>
							</div>
						</div>
					</div>
				</div>
				{% endfor %}
                {% else %}
				     <p class="h2">Заказы отсутствуют</p>
				{% endif %}
			</div>
		</div>
	</section>
{% endblock content %}
